.start input[type="range"] {
  -webkit-appearance: none;
  width: 250px;
  height: 10px;
  margin: 15px 0;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-hover-color)
  );
  border-radius: var(--border-radius);
  outline: none;
  transition: box-shadow var(--transition-duration);
  cursor: pointer;
}

.start input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--nav-background-color);
  box-shadow: 0 0 5px var(--primary-hover-color);
  border: 2px solid var(--primary-hover-color);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.start input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px var(--primary-hover-color);
}

.start input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--nav-background-color);
  box-shadow: 0 0 5px var(--primary-hover-color);
  border: 2px solid var(--primary-hover-color);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.start input[type="range"]::-moz-range-thumb:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px var(--primary-hover-color);
}

.start input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--nav-background-color);
  box-shadow: 0 0 5px var(--primary-hover-color);
  border: 2px solid var(--primary-hover-color);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.start input[type="range"]::-ms-thumb:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px var(--primary-hover-color);
}

.start .image-preview-container {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100%;
  padding: 15px;
  background-color: var(--nav-background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 15px 3px var(--primary-hover-color);
  text-align: center;
}

.start .image-preview-container img {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  display: block;
}

