@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #1c1c1c;      
  --primary-hover-color: #ffd700;
  --background-color: #2a2a2a;    
  --text-color: #dcdcdc;        
  --nav-background-color: #333333;
  --nav-border-color: #444444;
  --font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --border-radius: 8px;
  --transition-duration: 0.3s;
}


.light-mode {
  --primary-color: #0077b6; 
  --primary-hover-color: #0096d6;
  --background-color: #f5f5f5;  
  --text-color: #333;         
  --nav-background-color: #ffffff;  
  --nav-border-color: #e0e0e0;    
}


body {
  font-family: var(--font-family);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

#top-bar {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 5em;
  margin: 0;
  font-weight: var(--font-weight-bold);
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  font-size: 1.3em;
  justify-content: center;
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  padding: 8px 16px;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

nav a:hover {
  background-color: var(--primary-hover-color);
  color: #fff;
}


main {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#hero {
  background-color: var(--primary-color);
  color: white;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 40px;
}

#hero h2 {
  color: white;
  font-size: 2.5em;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta-button {
  background-color: var(--primary-hover-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-medium);
  transition: background-color var(--transition-duration);
}

.cta-button:hover {
  background-color: #0096d6;
}

#features {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap; 
  align-items: stretch;
}

#features h3 {
  font-size: 2.2em;
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  margin-bottom: 20px;
  width: 100%; 
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px; 
  text-align: center; 
}

.feature h4 {
  font-size: 1.8em;
  text-decoration: underline;
  text-decoration-color: yellowgreen;
  color: var(--text-color);
  margin-bottom: 10px;
}

.feature p {
  font-size: 1.1em;
  color: #dcdcdc;
  line-height: 1.6;
}



#footer {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
}

#footer nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

#footer nav a:hover {
  text-decoration: underline;
}


#footer {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
}

.toggle-theme-btn {
  background-color: var(--primary-hover-color);
  color: white;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-medium);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.header-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.header {
  font-size: 3em;
  font-weight: var(--font-weight-bold);
  color: white;
  animation: print3D 3s ease-out forwards;
  position: relative;
}

/* Give title a 3d scan effect when loading in */
@keyframes print3D {
  0% {
    text-shadow: 8px 8px 8px chartreuse;
    transform: translateY(100%);
    opacity: 20;
  }
  50% {
    text-shadow: 4px 4px 5px #333, -4px -4px 5px #555;
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    text-shadow: 8px 8px 10px #111, -8px -8px 10px #222;
  }
}


.toggle-theme-btn:hover {
  background-color: var(--primary-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  nav a:hover {
    color: #1e90ff;
  }

  .cta-button:hover {
    background-color: #1e90ff;
  }
}